*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

body{
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    color: #ffffff;
    line-height: 1.6;
    padding: 20px;
    min-height: 100vh;
    display: grid;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

.container {
    max-width: 800px;
    margin: auto;
    background: #444;
    padding: 20px;
    border-radius: 8px;
}

.main {
    width: 700px;
    align-items: center;
}
.main img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 1rem;
}

.text {
    margin-top: 20px;
    font-size: 18px;
}

.kontaktinfo {
    background-color: #555;
    padding: 15px;
    border-radius: 8px;
    margin-top: 30px;
}

footer {
    text-align: center;
    margin-top: 30px;
}

footer img {
    max-width: 150px;
    height: auto;
}