*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    font-family:system-ui,Segoe UI,Arial;
    margin:16px;
    color:#222;
    background: #d4d4d4;
    background-size: stretch;
}
    
.container{
    max-width:1100px;
    margin:0 auto;
}
    
header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    margin-bottom: 20px;
}

header a {
    color: #fff;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header a:hover {
    text-decoration: underline;
}

    
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap:16px;
}
    
.card{
    border:1px solid #000000;
    box-shadow:0 4px 8px rgba(0,0,0,0.1);
    border-radius:6px;
    padding:12px;
    background:linear-gradient(90deg,#7a7a7a,#626262);
}
    
.card img{
    width:100%;
    height:auto;
    border-radius: 1rem;
    box-shadow: #000000 0px 0px 2px;
    display:block;
    margin-bottom:8px;
}
    
.meta{
    font-size:0.95rem;
    color:#000000;
}

